---
import Base from "../../../layout/BaseLayout.astro";

const allPosts = await Astro.glob("../../../content/sales/*.mdx");
const tags = [
  ...new Set(allPosts.map((post) => post.frontmatter.category).flat()),
];
---

<Base title="Sales Categories">
  <div class="blog-panel">
    <h1 class="satisfy-regular">Sales Categories</h1>
    <div class="tags">
      {
        tags.map((tag) => (
          <p class="tag">
            <a href={`/sales/categories/${tag}`}>{tag}</a>
          </p>
        ))
      }
    </div>
  </div>
</Base>

<style is:inline>
  a {
    color: #00539f;
    text-decoration: none;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    padding: 0.5em 1em;
    font-size: 1.15em;
    background-color: #f8fcfd;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  }
</style>
