ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 100;
}

li.li-nav {
    float: left;
}

li.hamburger {
    float: right;
}

li.li-nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 2rem;
}

.active {
    background-color: #4caf50;
}

.satisfy-regular {
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
}

.nav-links {
    margin-left: 5em;
    display: none;
    position: fixed;
    right: 8px;
    width: 36%;
    background: #333;
    z-index: 200;
}

.nav-links a {
    display: inline-block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    font-size: 2rem;
}

.expanded {
    display: block;
}

@media screen and (min-width: 636px) {
    li.hamburger,
    .nav-links {
        display: none;
    }
}

@media screen and (max-width: 636px) {
    li.hamburger {
        display: block;
    }

    .toggled-nav {
        display: none;
    }
}
