---
import Header from "./../layout/header.astro";
import Fonter from "./../layout/fonter.astro";

import "../styles/wurm.styles.css";
import "../styles/post.styles.scss";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <Fonter />

    <title>Wurm Rodeo - About</title>
  </head>
  <body>
    <Header />

    <div class="blog-panel">
      <h1 class="satisfy-regular">About</h1>
      <p>
        I'm <a
          href="https://forum.wurmonline.com/index.php?/profile/69325-jackjones/"
          target="_blank">Jackjones</a
        >, and I've been playing <a href="https://www.wurmonline.com/"
          >Wurm Online</a
        > since 30 July 2014. It was love at first sight! I settled on Xanadu, near
        Summerholt, and I'm still <a
          href="https://xanadu.yaga.host/#6963,2143"
          target="_blank">here</a
        >. For a while I was a managing member of the NEXA Alliance, but I left
        with friends a few years ago to seek a more drama-free existance. I run
        an "Arrested Development" themed deed called "Bleu Bayou".
      </p>
    </div>

    <div class="blog-panel">
      <h1 class="satisfy-regular">Why?</h1>
      <p>
        I feel that community content in games is oversaturated in the
        video/streaming area. I'm not the type of person that's going to watch a
        45 minute video to learn some game mechanic. Gone are the days of a good
        "game blog"! This site aims to bring back those days with quality
        content that can be easily accessed and referenced. I'm not looking for
        subscribers or any monetization angles. I'm not collecting view counts
        or demographics of any kind.
      </p>
    </div>

    <div class="blog-panel">
      <h1 class="satisfy-regular">So much tech...</h1>
      <p>
        Over the years, I've built a number of custom web sites and a phone app
        for the Wurm Online community: Jack's Wurm Tools (Android), Jack's Web
        Tools, WurmServices.Net, nexa.family, wurmonlinemaps.com. All of these
        projects are now lost to time... wurm.rodeo is my next Wurm themed
        domain and was purchased because it was only $7 a year!
      </p>
    </div>

    <div class="blog-panel">
      <h1 class="satisfy-regular">Reality</h1>
      <p>
        In real life I'm a web tech lead for a global manufacturer. My wife and
        I are raising 2 sons in the suburbs of Chicago.
      </p>
    </div>

    <div class="blog-panel">
      <h1 class="satisfy-regular">Thanks</h1>
      <p>
        Special thanks to my Wurm compadres: Olafhairybreeks, Dalethegood,
        Manthium, Huser, Sparklemancer, the original Jive, and many more.
      </p>
    </div>

    <div class="blog-panel">
      <h1 class="satisfy-regular">Note</h1>
      <p>
        Wurm Rodeo is a NOT part of Wurm Online and is NOT a creation of Code
        Club AB.
      </p>
    </div>
  </body>
</html>
