---
import Header from "./../layout/header.astro";
import Fonter from "./../layout/fonter.astro";
import "../styles/wurm.styles.css";
import "../styles/post.styles.scss";

import heed from "../images/heed.webp";
import { Image } from "astro:assets";
import { AstroSeo } from "@astrolib/seo";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <Fonter />
    <AstroSeo
      description="Let me 'rope you in' with my content about my adventures in Wurm Online, including my guides on leveling up different skills."
      canonical="https://wurm.rodeo",
      openGraph={{
        url: 'https://wurm.rodeo',
        title: 'Wurm Rodeo - Musings on the great MMO, Wurm Online',
        description: "Let me 'rope you in' with my content about my adventures in Wurm Online, including my guides on leveling up different skills.",
        images: [
          {
            url: 'https://wurm.rodeo/og.webp',
            width: 1200,
            height: 630,
            alt: 'Wurm Rodeo Logo',
            type: 'image/webp',
          }
        ],
        site_name: "Wurm Rodeo"
      }}
    />
    <title>Wurm Rodeo - Musings on the great MMO, Wurm Online</title>
  </head>
  <body>
    <Header />

    <div class="blog-panel">
      <h1 class="satisfy-regular">Yeee-haw, Pardner!</h1>
      <Image src={heed} format="webp" alt="Stuck in the oak." />
      <p>
        Oh, we've really outdone ourselves with this site for you—because
        clearly, this is the only thing you could possibly want. We're just
        certain you'll absolutely adore it, just like everyone else!
      </p>
      <p>Could someone help me get outta this freaking oak tree?</p>
    </div>
  </body>
</html>
