---
import Header from "./../layout/header.astro";
import "../styles/wurm.styles.css";
import "../styles/post.styles.scss";

import heed from "../images/heed.webp";
import { Image, Picture } from "astro:assets";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap"
      rel="stylesheet"
    />
    <title>Wurm Rodeo</title>
  </head>
  <body>
    <Header />

    <div class="blog-panel">
      <h1 class="satisfy-regular">Yeee-haw, Parder!</h1>
	  <Picture src={heed} formats={['avif', 'webp']} alt="Stuck in the oak." />
	  <p>
		Oh, we've really outdone ourselves with this site for you—because clearly, this is the only thing you could possibly want. We're just certain you'll absolutely adore it, just like everyone else!
	  </p>
	  <p>
		Could someone help get outta this freaking oak tree?
	  </p>
    </div>
  </body>
</html>
