---
import Header from './../../layout/header.astro';
import Fonter from './../../layout/fonter.astro';

import '../../styles/wurm.styles.css';
import "../../styles/post.styles.scss";

import { getCollection } from 'astro:content';

// Get all entries from a collection.
// Requires the name of the collection as an argument.
// Example: retrieve `src/content/blog/**`
const allSkillPosts = await getCollection('skills');

allSkillPosts.sort((a, b) => a.data.skillName.localeCompare(b.data.skillName))
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <Fonter />
		<title>Wurm Rodeo</title>
	</head>
	<body>
    <Header title="Blog" />

    <div class="blog-panel">
        <h1 class="satisfy-regular">Skill Guides</h1>
        <p>With over 10 years of experience in Wurm Online, I have curated several skilling and grinding guides for your reference.</p>
        <ul>
        {allSkillPosts.map(p => (
            <li><a href=`/skills/${p.slug}`>{p.data.skillName}</a></li>
        ))}
        </ul>
    </div>
    </body>
</html>