---
import Base from "../../layout/BaseLayout.astro";
import SalesCard from "../../layout/SalesCard.astro";

import { getCollection } from "astro:content";
const allSales = await getCollection("sales");

const sales = allSales.filter((sale) =>
  (sale.data.sold === undefined || sale.data.sold === false)
);
---
<Base title="Sales by Jackjones">
  <div class="blog-panel">
    <h1 class="satisfy-regular">Sales</h1>
    <p>
      View <a href="/sales/categories">categories.</a>
    </p>
    <SalesCard sales={sales} />
  </div>
</Base>
