---
import './../styles/header.styles.scss';
---
<navigation>
    <ul class="nav">
        <li class="li-nav satisfy-regular"><a href="/">Wurm Rodeo</a></li>
        <li class="li-nav satisfy-regular"><a href="/about">About</a></li>
        <li class="li-nav satisfy-regular"><a href="/blog">Blog</a></li>
        <li class="li-nav satisfy-regular"><a href="/skills">Skills</a></li>
        <li class="li-nav satisfy-regular"><a href="/sales">Sales</a></li>
    </ul>
</navigation>
